<h1>Google Books</h1>

<p>This component demonstrates fetching data from the google books api.</p>

<div *ngIf="!books">
  <input id="search_field" type="text" placeholder="Search for book title"/>
  <button (click)="search()">search</button>
</div>

<table class='table' *ngIf="books">
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Publisher</th>
      <th>Image</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of books">
      <td>{{ book.title }}</td>
      <td>{{ book.authors }}</td>
      <td>{{ book.publisher}}</td>
      <td><a href="{{ book.infoLink }}"><img src="{{ book.image }}" /></a></td>
    </tr>
  </tbody>
</table>
